<h1>Contact</h1>
<form action="#">
    <div class="form-group">
        <label for="name">Nome:</label>
        <input id="name" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input id="email" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="telefone">Telefone:</label>
        <input id="telefone" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="cep">CEP:</label>
        <input id="cep" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="subject">Assunto:</label>
        <textarea class="form-control" id="subject" cols="30" rows="10"></textarea>
    </div>
    <button type="submit" style="background-color:chocolate; color: #ffffff" class="btn" id="btnContact">Enviar</button>
</form>